// breakpoints
$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1420px,
);

// design size
$design-size: (
  "pc-width": 1440,
  "pc-height": 810,
  "sp-width": 360,
  "sp-height": 800,
);

// header
$header-height-sp: 9rem;

// colors

// shadow

// fonts

// animations
$duration-short: 0.3s;
$duration-base: 0.5s;
$duration-full: 0.8s;

// easing

// z-index
